:root {}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #111827 !important;
  caret-color: #111827 !important;
  transition: background-color 5000s ease-in-out 0s;
}

html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:focus,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #111827 inset !important; /* bg-gray-900 */
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
}
